/* Reset de estilos para eliminar los márgenes y rellenos predeterminados */
body, h1, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para el encabezado h1 */
  h1 {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px 0;
  }
  
  /* Estilos para la lista ul */
  ul {
    list-style-type: none;
    padding: 20px;
  }
  
  /* Estilos para los elementos de lista li */
  li {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  /* Estilos para los elementos de lista li */
  li:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  