<!-- reddit.component.html (Lado de Angular) -->
<!-- Esto es la vista de Angular para mostrar el listado de Reddits -->
<h1>Listado de Reddits</h1>
<ul>
  <!-- Itera a través de la lista de objetos 'reddits' y muestra cada uno en un elemento de lista -->
  <li *ngFor="let reddit of reddits" class="reddit-item">
    <div class="reddit-info">
      <!-- Muestra el título del Reddit -->
      <h2>{{ reddit.title }}</h2>
      <!-- Muestra el nombre de visualización del Reddit -->
      <p>{{ reddit.display_name }}</p>
      <!-- Muestra la descripción del Reddit -->
      <p>{{ reddit.description }}</p>
      <!-- Muestra el nombre de visualización con prefijo del Reddit -->
      <p>{{ reddit.display_name_prefixed }}</p>
      <!-- Crea un enlace utilizando la URL del Reddit -->
      <a href="{{ reddit.url }}" target="_blank">{{ reddit.url }}</a>
    </div>
  </li>
</ul>
